@use 'functions' as func;

// ---------- BREAKPOINTS
$brk-sm: func.getEm(768);
$brk-md: func.getEm(1024);
$brk-lg: func.getEm(1280);
$brk-xl: func.getEm(1440);

$brk-dwn-sm: func.getEm(767.98);
$brk-dwn-md: func.getEm(1023.98);
$brk-dwn-lg: func.getEm(1279.98);
$brk-dwn-xl: func.getEm(1439.98);

// ---------- COLOURS
$clr-ntr-100: hsl(0, 100%, 100%);
$clr-ntr-200: hsl(28, 100%, 97%);
$clr-ntr-400: hsl(30, 5%, 45%);
$clr-ntr-900: hsl(0, 0%, 1%);

$clr-purp: hsl(252, 66%, 62%);
$clr-orge: hsl(28, 89%, 67%);
$clr-pink: hsl(0, 78%, 79%);
$clr-red: hsl(7, 77%, 66%);
$clr-teal: hsl(172, 46%, 57%);
$clr-royl: hsl(314, 45%, 23%);

$body-bg: $clr-ntr-200;

// ---------- TYPOGRAPHY

// ----- Leading
$leading-100: 26px;
$leading-200: 28px;
$leading-300: 32px;
$leading-400: 40px;
$leading-500: 56px;
$leading-700: 70px;

// ----- Font Weight
$fw-medium: 500;
$fw-bold: 700;

// ----- Font Size
$fs-100: func.getRem(16);
$fs-200: func.getRem(18);
$fs-300: func.getRem(24);
$fs-400: func.getRem(32);
$fs-500: func.getRem(40);
$fs-600: func.getRem(56);

// ----- Font Family
$ff-pri: 'Plus Jakarta Sans', sans-serif;
$ff-sec: null;

// ----- Copy
$copy-clr: $clr-ntr-400;
$copy-leading: $leading-100;
$copy-leading-sm: $leading-200;
$copy-fw: $fw-medium;
$copy-fs: $fs-100;
$copy-fs-sm: $fs-200;
$copy-ff: $ff-pri;

$copy-font: $copy-fw $copy-fs $copy-ff;

// ----- Title
$title-clr: inherit;
$title-pri-fw: $fw-bold;
$title-pri-ff: $ff-pri;

$title-sec-clr: null;
$title-sec-fw: null;
$title-sec-ff: null;

// ---------- LINKS
$link-trans: 150ms ease-in-out;
$link-trans-prop: all;
$link-clr: null;
$link-clr-active: null;
$link-decoration: none;
$link-decoration-active: none;

// ---------- COMPONENTS

// ----- Buttons
$btn-padding: func.getRem(13) func.getRem(28);
$btn-padding-sm: func.getRem(14) func.getRem(45);
$btn-trans: $link-trans;
$btn-trans-prop: null;
$btn-radius: 33vw;
$btn-font: $fw-bold func.getRem(14) $copy-ff;
$btn-fs-sm: $fs-100;

// --- Button: Primary
$btn-pri-bg: $clr-ntr-900;
$btn-pri-bg-active: $clr-purp;
$btn-pri-clr: $clr-ntr-200;
$btn-pri-clr-active: $clr-ntr-200;

// --- Button: Secondary
$btn-sec-bg: $clr-red;
$btn-sec-bg-active: $clr-orge;
$btn-sec-clr: $clr-ntr-200;
$btn-sec-clr-active: $clr-ntr-200;

// --- Button: Slider Controls
$btn-slider-padding: func.getRem(25);
$btn-slider-marg-top: func.getRem(32);
$btn-slider-marg-top-sm: func.getRem(56);
$btn-slider-marg-right: func.getRem(16);
$btn-slider-radius: 33vw;
$btn-slider-bg: $btn-pri-bg;
$btn-slider-bg-active: $btn-pri-bg-active;

// ----- Hero
$hero-max-width-lg: func.getRem(752);
$hero-marg-top: func.getRem(32);
$hero-marg-top-sm: func.getRem(64);
$hero-marg-top-lg: func.getRem(66);

// --- Hero: Title
$hero-title-clr: $clr-ntr-900;
$hero-title-leading: 45px;
$hero-title-leading-sm: 55px;
$hero-title-leading-lg: $leading-700;
$hero-title-fs: func.getRem(36);
$hero-title-fs-sm: func.getRem(44);
$hero-title-fs-lg: $fs-600;

// --- Hero: Copy
$hero-copy-max-width: func.getRem(285);
$hero-copy-max-width-sm: func.getRem(573);
$hero-copy-max-width-lg: func.getRem(730);
$hero-copy-marg-top: func.getRem(16);
$hero-copy-marg-top-sm: func.getRem(27);
$hero-copy-marg-top-lg: func.getRem(23);

// ---------- LAYOUT

// ----- Wrapper
$wrapper-max-width: func.getRem(343);
$wrapper-max-width-sm: func.getRem(690);
$wrapper-max-width-md: null;
$wrapper-max-width-lg: func.getRem(1110);
$wrapper-max-width-xl: null;

// ----- Header
$header-marg-top: func.getRem(16);
$header-marg-top-sm: func.getRem(34);

// --- Header: Branding
$header-brand-img-width: func.getRem(48);
$header-brand-img-width-sm: func.getRem(64);
$header-brand-img-height: $header-brand-img-width;
$header-brand-img-height-sm: $header-brand-img-width-sm;

// ---------- PAGES

// ----- Home

// --- Grid
$grid-gap: func.getRem(24);
$grid-rows: repeat(5, func.getRem(182));
$grid-rows-sm: repeat(3, func.getRem(182));
$grid-rows-lg: repeat(2, func.getRem(182));
$grid-cols: auto;
$grid-cols-lg: repeat(6, func.getRem(164));

$grid-marg-top: func.getRem(32);
$grid-marg-top-sm: func.getRem(64);
$grid-marg-top-lg: func.getRem(80);

// --- Grid Item
$grid-item-padd: func.getRem(24);
$grid-item-radius: 8px;
$grid-item-clr: $clr-ntr-200;
$grid-item-fw: $fw-bold;
$grid-item-fs: func.getRem(24);

// --- Introduction
$intro-width: func.getRem(343);
$intro-width-sm: func.getRem(772);
$intro-width-lg: func.getRem(1110);
$intro-marg-top: func.getRem(100);
$intro-marg-top-sm: func.getRem(120);
$intro-marg-top-lg: func.getRem(136);

$intro-img-left-pos-sm: -40px;
$intro-img-width: func.getRem(300);
$intro-img-width-sm: func.getRem(364);
$intro-img-width-lg: func.getRem(445);

$intro-content-width: func.getRem(339);
$intro-content-width-sm: func.getRem(339);
$intro-content-width-lg: func.getRem(540);
$intro-content-marg-top: func.getRem(40);
$intro-content-marg-top-lg: func.getRem(70);
$intro-content-leading: 26px;
$intro-content-text-align: center;
$intro-content-text-align-sm: left;
$intro-content-title-clr: $clr-ntr-900;
$intro-content-title-leading: 33px;
$intro-content-title-leading-sm: $leading-400;
$intro-content-title-leading-lg: 50px;
$intro-content-title-fs: func.getRem(26);
$intro-content-title-fs-sm: $fs-400;
$intro-content-title-fs-lg: $fs-500;
$intro-content-p-marg-top: func.getRem(24);
$intro-content-btn-marg-top: func.getRem(24);

// --- Work
$work-marg-top: func.getRem(100);
$work-marg-top-sm: func.getRem(120);
$work-marg-top-lg: func.getRem(188);
$work-text-align: center;

$work-title-clr: $clr-ntr-900;
$work-title-leading: $leading-300;
$work-title-leading-sm: $leading-400;
$work-title-fs: $fs-300;
$work-title-fs-sm: $fs-400;

// --- Work Slider
$work-slider-marg-top: func.getRem(32);
$work-slider-marg-top-sm: func.getRem(56);
$work-slider-slide-padding-right: func.getRem(15);
$work-slider-slide-padding-right-sm: func.getRem(30);
$work-slider-slide-img-radius: 10px;

// --- Call to Action
$cta-padd: func.getRem(49) func.getRem(24);
$cta-padd-sm: func.getRem(56) func.getRem(75);
$cta-padd-lg: func.getRem(81) func.getRem(65);
$cta-marg-top: func.getRem(100);
$cta-marg-top-sm: func.getRem(120);
$cta-marg-top-lg: func.getRem(88);
$cta-radius: 10px;
$cta-bg: $clr-ntr-900;
$cta-clr: $clr-ntr-100;
$cta-text-align: center;
$cta-text-align-lg: left;
