/**
 * VARIABLES
 *
 * Defines project-wide CSS custom properties using the `:root` selector. These 
 * variables serve as design tokens for consistent theming across the UI, 
 * including colours, spacing, typography, etc.
 */

:root {
    /********** COLOURS */

    /**
     * Why the duplicate colour custom properies?
     *
     * I am using the raw HSL values along with the hsl(...) to ensure that an 
     * alpha value can be used in the scenario of reduced opacity for an 
     * element.
     */

    --clr-neutral-100: hsl(28 100% 97%);
    --clr-neutral-500: hsl(30 5% 45%);
    --clr-neutral-900: hsl(0 0% 1%);

    --clr-galactic-blue: hsl(252 66% 62%);
    --clr-summer-yellow: hsl(28 89% 67%);
    --clr-pink: hsl(0 78% 79%);
    --clr-light-red: hsl(7 77% 66%);
    --clr-cyan: hsl(172 46% 57%);
    --clr-dark-purple: hsl(314 45% 23%);

    /********** FONTS & TYPOGRAPHY */
    --fw-med: 500;
    --fw-bold: 700;

    --fs-100: 0.875rem; /* 14px */
    --fs-200: 1rem;     /* 16px */
    --fs-300: 1.5rem;   /* 24px */
    --fs-400: 1.625rem; /* 26px */
    --fs-500: 2.25rem;  /* 36px */

    
    --ff-pri: 'Plus Jakarta Sans', sans-serif;

    --leading-100: 26px;
    --leading-200: 28px;

    /********** BOILERPLATE */

    /* Body */
    --body-bg: var(--clr-neutral-100-hsl);
    --body-clr: var(--clr-neutral-500-hsl);
    --body-font: var(--fw-med) var(--fs-200) var(--ff-pri);
    --body-leading: var(--leading-100);

    /* Links */
    --link-transition: 150ms ease-in-out;
    --link-clr: inherit;
    --link-clr-hover: inherit;
    --link-decoration: none;
    --link-deoraction-hover: none;
    --link-outline-clr: var(--clr-galactic-blue);
    --link-outline: 3px solid var(--link-outline-clr);
    --link-outline-offset: 2px;
    --link-outline-radius: 3px;

    /* Heading */
    --heading-fw: var(--fw-bold);
    --heading-ff: inherit;

    /********** LAYOUT */

    /* Container */
    --container-max-w: 21.375rem; /* 342px */
    --container-px: 0.375rem;

    /* Header */
    --site-header-mt: 1rem;
    
    /********** COMPONENTS

    /* Buttons */
    --btn-p: 0.75rem 2rem;
    --btn-radius: 99vw;
    --btn-clr: var(--clr-neutral-100);
    --btn-clr-hover: var(--btn-clr);
    --btn-fw: var(--fw-bold);
    --btn-fs: var(--fs-100);
    --btn-case: capitalize;

    --btn-pri-bg: var(--clr-neutral-900);
    --btn-pri-bg-hover: var(--clr-galactic-blue);
    --btn-pri-outline-clr: var(--btn-pri-bg-hover);

    --btn-sec-bg: var(--clr-light-red);
    --btn-sec-bg-hover: var(--clr-summer-yellow);
    --btn-sec-outline-clr: var(--btn-sec-bg-hover);

    /* Hero */
    --hero-max-w: 21.5rem; /* 344px */
    --hero-m: 2rem auto;
    --hero-text-align: center;

    --hero-content-max-w: 17.8125rem;
    --hero-content-m: 1rem auto 0;
    --hero-content-clr: var(--clr-neutral-500);
    --hero-content-fs: var(--fs-200);

    --hero-heading-fs: var(--fs-500);
    --hero-heading-leading: 1.2;

    /* Cards */
    --category-card-grid-gap: 1.5rem;
    --category-card-grid-mt: 2rem;
    --category-card-grid-max-w: 21.4375rem;

    --category-card-p: 1.5rem;
    --category-card-radius: 8px;
    --category-card-transition-duration: 250ms;
    --category-card-opacity: 1;
    --category-card-opacity-hover: 0.65;
    --category-card-heading-mt: 2.5rem;
    --category-card-heading-clr: var(--clr-neutral-100);
    --category-card-heading-fs: var(--fs-300);

    /* Slider */
    --slider-pb: 2rem;
    --slider-track-transition: transform 300ms ease;
    --slider-slide-py: 1rem;
    --slider-slide-img-radius: 8px;
    --slider-nav-gap: 1rem;
    --slider-nav-mt: 2rem;

    /* CTA */
    --cta-max-w: 21.5rem;
    --cta-p: 3rem 1.5rem;
    --cta-radius: 10px;
    --cta-bg: var(--clr-neutral-900);
    --cta-clr: var(--clr-neutral-100);
    --cta-text-align: center;

    --cta-content-max-w: 18.5rem;
    --cta-content-gap: 1.5rem;
    
    --cta-heading-fs: var(--fs-400);
    
    /********** PAGES */

    /* Home */
    --home-profile-gap: 1.5rem;
    --home-profile-max-w: 100%;
    --home-profile-py: 6.25rem;
    --home-profile-clr: var(--clr-neutral-500);
    --home-profile-text-align: center;
    --home-profile-img-max-w: 18.75rem;
    --home-profile-mb: 1.25rem;
    --home-profile-content-gap: 1.5rem;
    --home-profile-content-heading-clr: var(--clr-neutral-900);
    --home-profile-content-heading-fs: var(--fs-400);
    --home-profile-content-heading-leading: 1.2;

    --work-pb: 6.25rem;
    --work-text-align: center;
    --work-heading-fs: var(--fs-300);

    /********** MEDIA QUERIES */
    
    /* 768px */
    @media(min-width: 48em) {
        --fs-100: 1rem;     /* 16px */
        --fs-200: 1.125rem; /* 18px */
        --fs-400: 2rem;     /* 32px */
        --fs-500: 2.75rem;  /* 44px */

        --container-max-w: 43.125rem; /* 690px */
        --container-px: 0.5rem;

        --site-header-mt: 2.125rem;

        --hero-max-w: 43.125rem; /* 690px */
        --hero-m: 4rem auto;
        --hero-content-max-w: 35.8125rem;
        --hero-content-m: 1.6875rem auto 0;

        --category-card-grid-max-w: 43.125rem;

        --slider-pb: 3.5rem;

        --cta-max-w: 43.125rem;
        --cta-content-max-w: 33.75rem;

        --home-profile-text-align: left;
        --home-profile-img-max-w: 22.75rem;
        --home-profile-img-translate: translateX(-5rem);
    }

    /* 1280px */
    @media(min-width: 80em) {
        --fs-400: 2.5rem;   /* 40px */
        --fs-500: 3.5rem;   /* 56px */

        --container-max-w: 55.875rem; /* 894px */
        --container-px: 0.75rem;

        --hero-max-w: 48rem; /* 750px */
        --hero-m: 4.125rem auto;
        --hero-content-max-w: 45.625rem; /* 730px */
        --hero-content-m: 1.4375rem auto 0;

        --category-card-grid-max-w: 69.375rem;

        --cta-max-w: 69.375rem;
        --cta-content-max-w: 49rem;

        --home-profile-gap: 7.8125rem;
        --home-profile-max-w: 69.375rem;
        --home-profile-img-translate: unset;
        --home-profile-img-max-w: 27.8125rem;
    }
}
