@use '../abstracts/mixins' as mixin;

@include mixin.font-face(
  $font-family: 'Plus Jakarta Sans',
  $font-path:
    '../assets/fonts/plus-jakarta-sans/PlusJakartaSans-VariableFont_wght.ttf',
  $font-weight: 500 700
);
