@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

.btn {
  @include mixin.button();
}

// Button: Primary
.btn[data-btn-style='primary'] {
  @include mixin.button-styling(
    $bg: var.$btn-pri-bg,
    $bg-active: var.$btn-pri-bg-active,
    $colour: var.$btn-pri-clr,
    $colour-active: var.$btn-pri-clr-active
  );
}

// Button: Secondary
.btn[data-btn-style='secondary'] {
  @include mixin.button-styling(
    $bg: var.$btn-sec-bg,
    $bg-active: var.$btn-sec-bg-active,
    $colour: var.$btn-sec-clr,
    $colour-active: var.$btn-sec-clr-active
  );
}
