/**
 * CARDS
 *
 * The cards partial defines the styles of the site card components, in 
 * particular the unique category cards grid system.
 *
 * Included styles:
 * - category-grid  : Grid styles for the category grid system
 * - category-cards : Base styles for the category cards
 */

@use '../abstracts/mixins' as mixin;

/**
 * CATEGORY CARDS GRID
 *
 * The category cards grid defines the visual layout fir the category cards 
 * grid and their respective child cards. The grid adapts across three 
 * breakpoints:
 *
 * - Base (mobile) : Single column stack
 * - Medium (48em) : Two-column layout with selected cards spanning full width
 * - Large (80em)  : Four-column layout with custom column/row spans
 */

.category-cards-grid {
    display: grid;
    gap: var(--category-card-grid-gap);
    grid-template-columns: repeat(1, 1fr);
    margin-top: var(--category-card-grid-mt);
    margin-inline: auto;

    @media(min-width: 48em) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media(min-width: 80em) {
        grid-template-columns: repeat(6, 1fr);
        max-width: var(--category-card-grid-max-w);
    }
}

/**
 * CATEGORY CARD
 *
 * Defines the global visual appearance of the category card
 */

.category-card {
    padding: var(--category-card-p);
    border-radius: var(--category-card-radius);
    
    .heading {
        margin-top: var(--category-card-heading-mt);
        color: var(--category-card-heading-clr);
        font-size: var(--category-card-heading-fs);
    }

    img {
        margin-left: auto;
    }

    a {
        transition-duration: var(--category-card-transition-duration);
        opacity: var(--category-card-opacity);

        @include mixin.hover-focus {
            opacity: var(--category-card-opacity-hover);
        }
    }
}

/**
 * 🏆 CATEGORY SPECIFIC STYLES
 *
 * Loops through each category to apply the class name of each category and 
 * applies it's allocated background-color custom properties from `:root`
 */

.category {
    $cat-clr: (
        'graphic-design'    : var(--clr-galactic-blue),
        'uiux'              : var(--clr-summer-yellow),
        'apps'              : var(--clr-pink),
        'illustrations'     : var(--clr-light-red),
        'photography'       : var(--clr-cyan),
        'motion-graphics'   : var(--clr-dark-purple)
    );

    @each $cat, $css-var in $cat-clr {
        &-#{$cat} {
            background-color: #{$css-var};
        }
    }
}
