/**
 * CALL TO ACTION
 *
 * Contains the styles for the call to action. This includes the layout, 
 * positioning, alignment, etc. The call to action component is designed to 
 * draw the user's attention and typically includes a headline, supporting 
 * text, and a primary button.
 *
 * CTA's may appear in multiple locations, such as the homepage, inner pages, 
 * or at the end of content sections. Styles are built to be flexible and 
 * reusable, with support for responsive behaviour and variations in 
 * presentation.
 */

@use '../abstracts/mixins' as mixin;

.cta {
    max-width: var(--cta-max-width);
    padding: var(--cta-p);
    margin-inline: auto;
    border-radius: var(--cta-radius);
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    text-align: var(--cta-text-align);

    &-content {
        @include mixin.flex;

        .heading {
            margin-bottom: var(--cta-content-spacing);
            font-size: var(--cta-heading-fs);
            line-height: 1;
        }
    }

    &-btn {
        margin-top: var(--cta-content-spacing);
    }
    
    @media(min-width: 80em) {
        &-content {
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }

        &-text {
            max-width: 540px;
            margin-right: auto;
        }

        &-btn {
            margin-top: 0;
        }
    }
}
