@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

.hero {
  margin-top: var.$hero-marg-top;

  @include mixin.breakpoint(sm) {
    margin-top: var.$hero-marg-top-sm;
  }

  @include mixin.breakpoint(xl) {
    margin-top: var.$hero-marg-top-xl;
  }

  .title {
    font-size: var.$hero-title-fs;

    @include mixin.breakpoint(sm) {
      font-size: var.$hero-title-fs-sm;
    }

    @include mixin.breakpoint(xl) {
      font-size: var.$hero-title-fs-xl;
    }
  }
}
