@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

.hero {
  margin-top: var.$hero-marg-top;

  @include mixin.breakpoint(sm) {
    margin-top: var.$hero-marg-top-sm;
  }

  @include mixin.breakpoint(xl) {
    max-width: var.$hero-max-width-xl;
    margin-top: var.$hero-marg-top-xl;
  }

  .title {
    font-size: var.$hero-title-fs;

    @include mixin.breakpoint(sm) {
      font-size: var.$hero-title-fs-sm;
    }

    @include mixin.breakpoint(xl) {
      line-height: var.$hero-title-leading-xl;
      font-size: var.$hero-title-fs-xl;
    }
  }

  &__copy {
    max-width: var.$hero-copy-max-width;
    margin-top: var.$hero-copy-marg-top;
    margin-inline: auto;

    @include mixin.breakpoint(sm) {
      max-width: var.$hero-copy-max-width-sm;
      margin-top: var.$hero-copy-marg-top-sm;
    }

    @include mixin.breakpoint(xl) {
      max-width: var.$hero-copy-max-width-xl;
      margin-top: var.$hero-copy-marg-top-xl;
    }
  }
}
