/**
 * HERO
 *
 * The hero partial defines the styles of the site's hero. This is the section 
 * of content that a site visitor will be presented with first up, so make it 
 * count.
 * 
 * Included styles:
 * - hero : Base styles for the hero 
 */

@use '../abstracts/mixins' as mixin;

.hero {
    max-width: var(--hero-max-w);
    margin: var(--hero-m);
    text-align: var(--hero-text-align);

    &-content {
        max-width: var(--hero-content-max-w);
        margin: var(--hero-content-m);
        color: var(--hero-content-clr);
        font-size: var(--hero-content-fs);
    }

    .heading {
        font-size: var(--hero-heading-fs);
        line-height: var(--hero-heading-leading);
    }
}
