@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.header,
.footer {
  // I have included .footer here, there's no sense repeating myself

  @include mixin.flex;
  margin-top: var.$header-marg-top;

  &__branding {
    margin-right: auto;

    img {
      width: var.$header-brand-img-width;
      height: var.$header-brand-img-height;

      @include mixin.breakpoint(sm) {
        width: var.$header-brand-img-width-sm;
        height: var.$header-brand-img-height-sm;
      }
    }
  }

  &__btn {
    margin-left: auto;
  }

  @include mixin.breakpoint(sm) {
    margin-top: var.$header-marg-top-sm;
  }
}
